.hero {
  font-family: 'Roboto Slab', serif;
  display: flex;
  flex-direction: column;
  height: 300px;
  background-color: #E5F3F2;
}

.hero-title {
  margin: auto;
  margin-top: 5%;
  font-size: 48px;
}

textarea {
  border: none;
  resize: none;
}

.teal-h1 {
  color: #00A79D;
}
.grey-h1 {
  color: #6D6E71;
}

.title-input, .body-input {
  border: 2px solid #D1D3D4;
  width: 60%;
  font-size: 100%;
  height: 32px;
  margin: auto;
  margin-bottom: 1%;
  text-indent: 10px;
  line-height: 32px;
}

.search-field {
  border: 2px solid #D1D3D4;
  display: flex;
  flex-direction: column;
  font-size: 100%;
  height: 32px;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 3%;
  text-indent: 3%;
  width: 60%;
}

.save {
  background: #00A79D;
  border: none;
  color: #FFFFFF;
  font-size: 100%;
  height: 13%;
  margin: auto;
  margin-bottom: 3%;
  width: 60%;
};

.save:hover{
  background: #045E55;
}

article {
  width: 60%;
}

.idea-card {
  position: relative;
  border-bottom: 2px solid #D1D3D4;
  display: flex;
  flex-direction: column;
  height: 20%;
  margin-top: 5%;
  margin: auto;
  padding: 15px 0;
  width: 60%;
}

.idea-body {
  font-family: 'Open Sans', sans-serif;
}

.idea-card h2 {
  font-size: 24px;
  color: #6D6E71;
  font-family: 'Roboto Slab', serif;
}

.editable {
  color: #939598;
  display: inline-block;
  outline: 0px solid transparent;
  padding-bottom: 15px;
}

.idea-quality {
  font-family: 'Roboto Slab', serif;
  color: #6D6E71;
  display: inline-block;
  padding-left: 15px;
}

.delete-idea {
  position: absolute;
  z-index: 99;
  top: 2%;
  right: 2%;
  float: right;
  display: inline-block;
  background: url(./Images/delete.svg) no-repeat;
  border: none;
  height: 20px;
  width: 20px;
}

.delete-idea:hover {
  background: url(./Images/delete-hover.svg) no-repeat;
  border: none;
  z-index: 99;
}

.upvote {
  background: url(./Images/upvote.svg) no-repeat;
  border: none;
  position: absolute;
  bottom: 10%;
  height: 20px;
  width: 20px;
  z-index: 99;
}

.upvote:hover {
  background: url(./Images/upvote-hover.svg) no-repeat;
  border: none;
  z-index: 99;
}

.downvote {
  background: url(./Images/downvote.svg) no-repeat;
  border: none;
  height: 20px;
  width: 20px;
  position: absolute;
  bottom: 10%;
  left: 8%;
  z-index: 99;
}

.downvote:hover {
  background: url(./Images/downvote-hover.svg) no-repeat;
  border: none;
  z-index: 99;
}

.idea-quality {
  display: absolute;
  margin: auto;
}

@media screen and (max-width: 600px){
  .title-input {
    width: 90%;
    height: 10%;
  }
  .body-input {
    width: 90%;
    height: 30%;
  }
  .save {
    width: 90%;
  }
  .search-field {
    width: 90%;
  }
  article.idea-card {
    width: 90%;
  }

}
