button {
  cursor: pointer;
}

body {
  font-family: 'Roboto Slab', serif;
}

.hero {
  font-family: 'Roboto Slab', serif;
  display: flex;
  flex-direction: column;
  height: 300px;
  background-color: #E5F3F2;
}

.hero-title {
  margin: auto;
  margin-top: 5%;
  font-size: 48px;
}

textarea {
  border: none;
  resize: none;
}

.teal-h1 {
  color: #00A79D;
}
.grey-h1 {
  color: #6D6E71;
}

.title-input, .body-input {
  border: 2px solid #D1D3D4;
  width: 60%;
  font-size: 100%;
  height: 32px;
  margin: auto;
  margin-bottom: 1%;
  text-indent: 10px;
  line-height: 32px;
}

.search-field {
  border: 2px solid #D1D3D4;
  display: flex;
  flex-direction: column;
  font-size: 100%;
  height: 32px;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 3%;
  text-indent: 3%;
  width: 60%;
}

.save {
  background: #00A79D;
  border: none;
  color: #FFFFFF;
  font-size: 100%;
  height: 13%;
  margin: auto;
  margin-bottom: 3%;
  width: 60%;
}

.save:hover{
  background: #045E55;
}

.completed-button {
  background-color: #00A79D;
  color: white;
}

.show-completed-container, .sort-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  margin-bottom: 90px;
}

.show-completed-button, .hide-completed-button, .dropbtn, .dropbtn-hide {
  background: #00A79D;
  border: none;
  color: #FFFFFF;
  font-size: 15px;
  margin: 30px auto;
  padding: 10px 0;
  width: 25%;
}

.dropbtn, .dropbtn-hide {
  display: block;
}

.show-completed-button, .dropbtn {
  position: absolute;
  top: 0;
  right: 50;
  z-index: 10;
}

.hide-completed-button, .dropbtn-hide{
  position: absolute;
  top: 0;
  right: 50;
}

.show-more-button {
  background: none;
  border: none;
  border-bottom: 2px solid black;
  display: none;
  margin: 50px auto;
  width: 150px;
}


article {
  width: 60%;
}

.a-task {
  position: relative;
  border-bottom: 2px solid #D1D3D4;
  display: flex;
  flex-direction: column;
  height: 20%;
  margin-top: 5%;
  margin: auto;
  padding: 15px 0;
  width: 60%;
}

.task-body {
  font-family: 'Open Sans', sans-serif;
}

.a-task h2 {
  font-size: 24px;
  color: #6D6E71;
  font-family: 'Roboto Slab', serif;
}

.task-body, .task-title {
  color: #939598;
  display: inline-block;
  outline: 0px solid transparent;
  padding-bottom: 15px;
}

.task-importance {
  font-family: 'Roboto Slab', serif;
  color: #6D6E71;
  display: inline-block;
  padding-left: 15px;
}

.remove-task {
  position: absolute;
  z-index: 99;
  top: 2%;
  right: 2%;
  float: right;
  display: inline-block;
  background: url(./Images/delete.svg) no-repeat;
  border: none;
  height: 20px;
  width: 20px;
}

.remove-task:hover {
  background: url(./Images/delete-hover.svg) no-repeat;
  border: none;
  z-index: 99;
}

.upvote {
  background: url(./Images/upvote.svg) no-repeat;
  border: none;
  position: absolute;
  bottom: 10%;
  height: 20px;
  width: 20px;
  z-index: 99;
}

.upvote:hover {
  background: url(./Images/upvote-hover.svg) no-repeat;
  border: none;
  z-index: 99;
}

.downvote {
  background: url(./Images/downvote.svg) no-repeat;
  border: none;
  height: 20px;
  width: 20px;
  position: absolute;
  bottom: 10%;
  left: 8%;
  z-index: 99;
}

.downvote:hover {
  background: url(./Images/downvote-hover.svg) no-repeat;
  border: none;
  z-index: 99;
}

.task-importance {
  display: absolute;
  margin: auto;
}

.completed-button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 110px;
}

.true {
  opacity: 0.25;
}

.dropdown-content {
  display: none;
  width: 100%;
}

.show {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px){
  .title-input {
    width: 90%;
    height: 10%;
  }
  .body-input {
    width: 90%;
    height: 30%;
  }
  .save {
    width: 90%;
  }
  .search-field {
    width: 90%;
  }
  article.a-task {
    width: 90%;
  }

}
