@import "reset";
@import "variables";
@import "mixins";

body {
  font-family: $primary-font;
}

button {
  cursor: pointer;
}

.hero {
  @include flex-layout;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #e5f3f2;
  font-family: $primary-font;
  font-size: 40px;
  padding-top: 20px;
  width: 100%;
}

textarea {
  border: none;
  resize: none;
}

.teal-h1 {
  color: $primary-green;
}
.grey-h1 {
  color: #6D6E71;
}

.input-container {
  margin-top: 20px;
  width: $input-width;
}

.title-input, .body-input {
  border: $input-border;
  width: 100%;
  font-size: 20px;
  height: 32px;
  margin: auto;
  margin-bottom: 1%;
  text-indent: 10px;
  line-height: 32px;
}

.search-field {
  @include flex-layout;
  flex-direction: column;
  border: $input-border;
  font-size: 20px;
  height: 32px;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 3%;
  text-indent: 3%;
  width: $input-width;
}

.save {
  background: $primary-green;
  border: none;
  color: #FFFFFF;
  font-size: 25px;
  height: 13%;
  margin: auto;
  margin-bottom: 3%;
  width: 100%;
}

.save:hover{
  background: $primary-hover;
}

.input-counter, .body-counter {
  color: darkgray;
  float: right;
  font-size: 20px;
  margin-bottom: 4px;
}

.completed-button {
  background-color: $primary-green;
  color: white;
}

.show-completed-container, .sort-button-container {
  @include flex-layout;
  position: relative;
  width: 100%;
  margin-bottom: 90px;
}

.show-completed-button, .hide-completed-button, .dropbtn, .dropbtn-hide {
  background: #00A79D;
  border: none;
  color: #FFFFFF;
  font-size: 15px;
  margin: 30px auto;
  padding: 10px 0;
  width: 25%;
}

.dropbtn, .dropbtn-hide {
  display: block;
}

.show-completed-button, .dropbtn {
  position: absolute;
  top: 0;
  right: 50;
  z-index: 10;
}

.hide-completed-button, .dropbtn-hide{
  position: absolute;
  top: 0;
  right: 50;
}

.show-more-button {
  background: none;
  border: none;
  border-bottom: 2px solid black;
  display: none;
  margin: 50px auto;
  width: 150px;
}


article {
  width: 60%;
}

.a-task {
  display: $display-flex;
  flex-direction: column;
  position: relative;
  border-bottom: $input-border;
  margin: auto;
  padding: 15px 0;
}

.task-body {
  font-family: $task-font;
}

.a-task h2 {
  font-size: 24px;
  color: #6D6E71;
  font-family: $primary-font;
}

.task-body, .task-title {
  color: #939598;
  display: inline-block;
  outline: 0px solid transparent;
  padding-bottom: 15px;
}

.task-importance {
  font-family: $primary-font;
  color: #6D6E71;
  display: inline-block;
  padding-left: 15px;
}

.remove-task {
  position: absolute;
  z-index: 99;
  top: 2%;
  right: 2%;
  background: url(../Images/delete.svg) no-repeat;
  border: none;
  height: 20px;
  width: 20px;
}

.remove-task:hover {
  background: url(../Images/delete-hover.svg) no-repeat;
  border: none;
  z-index: 99;
}

.upvote {
  background: url(../Images/upvote.svg) no-repeat;
  border: none;
  position: absolute;
  bottom: 10%;
  height: 20px;
  width: 20px;
  z-index: 99;
}

.upvote:hover {
  background: url(../Images/upvote-hover.svg) no-repeat;
  border: none;
  z-index: 99;
}

.downvote {
  background: url(../Images/downvote.svg) no-repeat;
  border: none;
  height: 20px;
  width: 20px;
  position: absolute;
  bottom: 10%;
  left: 8%;
  z-index: 99;
}

.downvote:hover {
  background: url(../Images/downvote-hover.svg) no-repeat;
  border: none;
  z-index: 99;
}

.task-importance {
  display: absolute;
  margin: auto;
}

.completed-button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 110px;
}

.true {
  opacity: $complete-opacity;
}

.dropdown-content {
  display: none;
  width: 100%;
}

.show {
  @include flex-layout
  flex-direction: row;
}

@media screen and (max-width: 600px){
  .body-input {
    height: 50%;
  }

  .search-field {
    width: 90%;
  }

  article.a-task {
    width: 90%;
  }

}
