@import "reset";
@import "variables";
@import "mixins";

body {
  font-family: $primary-font;
}

button {
  cursor: pointer;
}

.hero {
  @include flex-layout;
  flex-direction: column;
  flex-wrap: wrap;


  // background-color: $off-white;
  font-family: $primary-font;
  font-size: $logo-font-size;
  padding-top: 20px;
  width: $main-width;
}

textarea {
  border: $hide-border;
  resize: $display-none;
}

.teal-h1 {
  color: $primary-green;
}
.grey-h1 {
  color: $dark-gray;
}

.input-container {
  margin-top: 20px;
  width: $input-width;
}

.title-input, .body-input {
  border: $input-border;
  width: $main-width;
  font-size: $logo-font-size/2;
  height: 32px;
  margin: auto;
  margin-bottom: 1%;
  text-indent: $indent-text;
  line-height: $indent-text * 3;
}

.search-field {
  @include flex-layout;
  flex-direction: column;
  border: $input-border;
  font-size: $logo-font-size/2;
  height: $indent-text * 3;
  margin: auto;
  margin-top: $little-margin;
  margin-bottom: $little-margin;
  text-indent: $little-margin;
  width: $input-width;
}

.save {
  background: $primary-green;
  border: $hide-border;
  color: $white;
  font-size: $logo-font-size/2 + 5;
  height: 13%;
  margin: auto;
  margin-bottom: $little-margin;
  width: $main-width;

  &:hover {
    background: $primary-hover;
  }
}

.input-counter, .body-counter {
  color: $light-gray;
  float: right;
  font-size: $logo-font-size/2;
  margin-bottom: 4px;
}

.completed-button {
  background-color: $primary-green;
  color: $white;
}

.show-completed-container, .sort-button-container {
  @include flex-layout;
  position: relative;
  width: $main-width;
  margin-bottom: 90px;
}

.show-completed-button, .hide-completed-button, .dropbtn, .dropbtn-hide {
  background: $primary-green;
  border: $hide-border;
  color: $white;
  font-size: $logo-font-size/2 - 5;
  margin: 30px $display-auto;
  padding: 10px 0;
  width: $main-width/4;
}

.dropbtn, .dropbtn-hide {
  display: block;
}

.show-completed-button, .dropbtn {
  @include showAndSortPosition;
  z-index: 10;
}

.hide-completed-button, .dropbtn-hide{
  @include showAndSortPosition;
}

.dropdown-content {
  display: $display-none;
  width: 100%;

  .none-button, .low-button, .normal-button, .high-button, .critical-button {
    border: $hide-border;


    background: #cb2d3e; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #cb2d3e , #ef473a); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #cb2d3e , #ef473a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white;
    font-size: $logo-font-size/3.5;
    font-weight: $bold;
    height: 30px;
    width: 50px;
    margin-right: 5px;
  }
}

.show-more-button {
  background: $display-none;
  border: $hide-border;
  border-bottom: 2px solid $black;
  display: $display-none;
  margin: 50px $display-auto;
  width: 150px;
}


.a-task {
  display: $display-flex;
  flex-direction: column;
  position: relative;
  border-bottom: $input-border;
  margin: $display-auto;
  min-height: 110px;
  padding: 15px 0;
  width: 60%;

  h2 {
    font-size: $logo-font-size/2 + 4;
    color: $dark-gray;
    font-family: $primary-font;
  }

  .task-body {
    font-family: $task-font;
  }

  .task-body, .task-title {
    color: $light-gray;
    display: inline-block;
    outline: 0px solid transparent;
    padding-bottom: 15px;
  }

  .task-importance {
    font-family: $primary-font;
    color: $dark-gray;
    position: absolute;
    bottom: 8%;
  }
}


.remove-task {
  position: absolute;
  z-index: $mid-z-index;
  top: 2%;
  right: 2%;
  background: url(../Images/delete.svg) no-repeat;
  border: $hide-border;
  height: $small-button-height;
  width: $small-button-width;

  &:hover {
    background: url(../Images/delete-hover.svg) no-repeat;
    border: $hide-border;
    z-index: $mid-z-index;
  }
}

.upvote {
  background: url(../Images/upvote.svg) no-repeat;
  border: $hide-border;
  position: absolute;
  bottom: 25%;
  height: $small-button-height;
  width: $small-button-width;
  z-index: $mid-z-index;

  &:hover {
    background: url(../Images/upvote-hover.svg) no-repeat;
    border: $hide-border;
    z-index: $mid-z-index;
  }
}

.downvote {
  background: url(../Images/downvote.svg) no-repeat;
  border: $hide-border;
  height: $small-button-height;
  width: $small-button-width;
  position: absolute;
  bottom: 25%;
  left: 5%;
  z-index: $mid-z-index;

  &:hover {
    background: url(../Images/downvote-hover.svg) no-repeat;
    border: $hide-border;
    z-index: $mid-z-index;
  }
}

.completed-button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 110px;
}

.true {
  opacity: $complete-opacity;
}

.show {
  @include flex-layout
  flex-direction: row;
}

@media screen and (max-width: 600px){
  .body-input {
    height: 50%;
  }

  .search-field {
    width: 90%;
  }

  article.a-task {
    width: 90%;
  }

}
