//SCSS variables, imported into styles.scss

//layouts
$display-flex: flex;
$justify-center: center;
$align-center: center;
$input-width: 60%;

//fonts
$primary-font: 'Roboto Slab', serif;
$task-font: 'Open Sans', sans-serif;

//colors
$primary-green: #00A79D;
$primary-hover: #045E55;

//input fields
$input-border: 2px solid #D1D3D4;

//other styles
$complete-opacity: 0.25;
